.hero-section-booking {
  padding: 5%; /* Adjust padding */
  margin-top: 20%; /* Adjust margin-top */
  margin-bottom: 5%; /* Adjust margin-bottom */
}

span {
  color: #E2DB20;
}

.contact-infor-flex {
  display: flex;
  align-items: center;
  gap: 2%; /* Adjust gap */
  margin-bottom: 3%; /* Adjust margin-bottom */
}

.contact-infor-flex img {
  width: 6%; /* Adjust image width */
}

.map-view {
  width: 90%; /* Adjust map width */
  max-width: 100%; /* Ensure the map doesn't overflow its container */
  height: auto; /* Maintain aspect ratio */
}

.contact-information {
  margin-bottom: 3%; /* Adjust margin-bottom */
  margin-top: 4%; /* Adjust margin-top */
}

h1 {
  font-size: 4vw; /* Adjust font size using viewport width */
  font-weight: 300;
}

a {
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1100px) {
  .hero-section-booking {
    margin-top:600px ; /* Adjust margin-top */
   margin-bottom: 30px;
  }


    iframe{
      width: 100%;
    }
}
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .hero-section-booking {
    margin-top:600px ; /* Adjust margin-top */
   margin-bottom: 30px;
  }


    iframe{
      width: 100%;
    }
  .contact-infor-flex img {
    width: 8%; /* Adjust image width */
  }

  .map-view {
    width: 95%; /* Adjust map width */
  }

  .contact-information {
    margin-top: 3%; /* Adjust margin-top */
  }

  h1 {
    font-size: 5vw; /* Adjust font size using viewport width */
  }
}

@media (max-width: 480px) {
  .hero-section-booking {
    margin-top:600px ; /* Adjust margin-top */
   margin-bottom: 30px;
  }

  .contact-infor-flex img {
    width: 10%; /* Adjust image width */
  }

  .map-view {
    width: 100%; /* Adjust map width */
  }

  .contact-information {
    margin-top: 2%; /* Adjust margin-top */
    margin-bottom: 2%; /* Adjust margin-bottom */
  }

  h1 {
    font-size: 6vw; /* Adjust font size using viewport width */
  }
  iframe{
   width: 100%;
  }
}
