body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

a {
  transition: all 0.3s ease-in-out;
}

.back-to-menu {
  margin: 20px;
}

.back-to-menu a {
  text-decoration: none;
  color: black;
}

.back-to-menu a .back {
  vertical-align: middle;
  margin-right: 10px;
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  text-align: center;
  margin-bottom: 40px;
}

.slide-headings {
  display: flex;
  width: 100%;
  max-width: 815px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slide-headings a {
  text-decoration: underline;
  color: #000;
  font-size: 20px;
  transition: background-color 0.3s;
}

.slide-headings a:hover {
  background-color: #f0f0f0;
  border: 1px;
  padding: 10px 20px;
}

.slide-content {
  width: 100%;
  max-width: 815px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.slide {
  display: none; /* Hide all slides by default */
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#rooms, #yard, #entrance {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#rooms img, #yard img, #entrance img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .slide-headings {
    flex-direction: column;
    gap: 10px;
  }

  .slide-headings a {
    font-size: 18px;
  }

  #rooms, #yard, #entrance {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .back-to-menu {
    margin: 10px;
  }

  .slide-headings a {
    font-size: 16px;
    padding: 5px 10px;
  }

  .slide-headings {
    width: 100%;
    gap: 5px;
  }
}
