body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

a {
  transition: all 0.3s ease-in-out;
}

.back-to-menu {
  margin: 20px;
}

.back-to-menu a {
  text-decoration: none;
  color: black;
}

.back-to-menu a .back {
  vertical-align: middle;
  margin-right: 10px;
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  text-align: center;
  margin-bottom: 40PX;
}

.slide-headings {
  display: flex;
  width: 815px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slide-headings a {
  text-decoration: underline;
  color: #000;
  font-size: 20px;
  transition: background-color 0.3s;
}

.slide-headings a:hover {
  background-color: #f0f0f0; 
  border: 1px;
  padding: 10px 20px;
}

.slide-content {
  width: 815px;
  height: 556px; /* 278px x 2 rows */
  overflow: hidden;
  position: relative;
}

.slide {
  display: none; /* Hide all slides by default */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#rooms {
  display: grid;
  grid-template-columns: repeat(2, 377px);
  grid-template-rows: repeat(2, 278px);
  gap: 10px;
}

#rooms img {
  width: 377px;
  height: 278px;
  object-fit: cover;
}

#entrance {
  display: grid;
  grid-template-columns: repeat(2, 377px);
  grid-template-rows: repeat(2, 278px);
  gap: 10px;
}

#yard {
  display: grid;
  grid-template-columns: repeat(2, 377px);
  grid-template-rows: repeat(2, 278px);
  gap: 10px;
}

@media (max-width: 1024px) {
  .slide-headings {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .slide-headings a {
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  .slide-content {
    width: 100%;
    height: auto;
    padding: 0 10px;
    overflow: hidden; /* Hide overflow on smaller screens */
  }

  .slide {
    height: auto;
    position: relative;
    display: none;
    width: 100%;
  }

  .slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #rooms,
  #entrance,
  #yard {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }

  #rooms img,
  #entrance img,
  #yard img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .slide-headings a {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .slide-headings a {
    font-size: 14px;
    padding: 6px 10px;
  }
   #rooms img{
    width: 100%;
   }
  footer {
    padding: 20px;
    font-size: 12px;
    width: 100%;
    height: 12px;
  }
}
