* {
  font-family: "Inter", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url('../images/background.jpg');
  background-color: rgba(0, 0, 0, 0.377);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 543px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
}

.logo img {
  height: 30px;
}

.logo-container h1 {
  color: #FFF500;
  font-size: 1.5em;
}

.navigation {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.navigation ul {
  display: flex;
  gap: 20px;
  list-style: none;
  background-color: #FFF500;
  width: 100%;
  max-width: 631px;
  height: 42px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.navigation a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navigation li {
  font-size: 12px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  height: 24px;
}

.welcome-message {
  text-align: center;
  margin-top: 20px;
}

.welcome-message h1 {
  color: #FFF500;
  font-size: 2em;
}

.welcome-message p {
  color: white;
  font-size: 1.2em;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .logo {
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
  }

  .logo-container h1 {
    font-size: 1.5em;
  }

  .navigation ul {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: auto;
    padding: 10px 0;
  }

  .navigation li {
    font-size: 14px;
  }

  .welcome-message h1 {
    font-size: 1.5em;
  }

  .welcome-message p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .logo {
    gap: 5px;
    padding: 5px 10px;
  }

  .logo-container h1 {
    font-size: 1.2em;
  }

  .navigation ul {
    flex-direction: column;
    width: 100%;
    gap: 5px;
    height: auto;
    padding: 5px 0;
  }

  .navigation li {
    font-size: 12px;
  }

  .welcome-message h1 {
    font-size: 1.2em;
  }

  .welcome-message p {
    font-size: 0.8em;
  }
}
